# Other
.DS_Store
.claude

# Python artifacts
*.egg-info
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg

# Editor artifacts
Session.vim
.idea/
.vscode/
*.swp
*.swo

# Project specific folders
/lab
/metadata
/notebooks
/outputs
/release
/release_models
/separated
/trash
/misc
/mdx

# Cache and test folders
.mypy_cache
.ruff_cache/
.pytest_cache/
/tests/musdb/
/tests/tmp/

# Keep tests directory but ignore test data
!/tests/
